/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BODY */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at bottom right, #6a00ff, #0b0f2a 60%);
    overflow: hidden;
}

/* CONTAINER */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD (GLASS EFFECT) */
.card {
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    text-align: center;
}

/* LOGO */
.logo {
    width: 230px;
    height: 160px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 15px;
}

/* INPUT */
.input,
.input-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.05);
    color: white;
    outline: none;
    transition: all 0.3s ease;
}

/* PLACEHOLDER COLOR */
.input::placeholder,
.input-box input::placeholder {
    color: #aaa;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #00ffcc, #7a5cff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.85;
}

/* FOOTER TEXT */
.footer {
    margin-top: 15px;
    color: #ccc;
    font-size: 14px;
}

/* LINKS */
.footer a {
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
